@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

.img_home {
    width: 100%;
    min-height: 90vh;
    background: url("/bg_home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face {
    font-family: 'Caveat Brush';
    src: url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap') format('truetype');
}

.font-text {
    font-style: italic;
    font-family: 'Caveat Brush', cursive;
}

/* Navbar */
.nav-links {
    position: relative;
}

.nav-links:hover::after {
    content: '';
    background: #fff;
    width: 30px;
    height: 2px;
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    border-radius: 2px;
}

/* Hero */
@layer base {
    .btn-hero::after {
      content: "";
      width: 1px;
      height: 1px;
      background: none;
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      transition: .4s ease-in-out all;
      border-radius: 100px;
    }

    .btn-hero:hover::after{
        transform: scale(200);
        @apply bg-red-600;
    }
}

/* Cities Page */
.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
}

.pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    cursor: pointer;
    margin-bottom: 12px;
}

@media (max-width: 991px){
    .gallery {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 625px){
    .nav {
        background-color: black;
    }
}

@media (max-width: 480px){
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}

/* Version antigua */
.bg-under-construction {
    background: url("/bg_under-construction.jpg") no-repeat center;
}

/* Version 2.0 Carousel */
/* .polaroid {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 240px;
    padding:20px 15px 40px 15px;
    border:1px solid #BFBFBF;
    background-color: white;
    box-shadow:10px 10px 20px rgba(0, 0, 0, 0.8);
}

.img-city {
    width: 100%;
    height: 130px;
    object-fit: cover;
}

.RotarIzq {
    transform:rotate(10deg);
    -ms-transform:rotate(10deg); //IE9
    -webkit-transform:rotate(10deg); //Safari y Chrome
    -moz-transform:rotate(10deg); 
}
 
.RotarDer {
    transform:rotate(-10deg);
    -ms-transform:rotate(-10deg); //IE9
    -webkit-transform:rotate(-10deg); //Safari y Chrome
    -moz-transform:rotate(-10deg); 
} */